/* 58行目 */

header {
	position: relative;
	margin: 0 auto;
	height: 170px;	/*ヘッダーの高さ*/
	background: url(../images/header_bg.jpg) no-repeat 65% center/500px;	/*背景画像の読み込み。左から65%、上下中央に配置。幅500px。*/
}
/*ロゴ画像*/
header #logo {
	width: 350px;		/*ロゴ画像の幅*/
	position: absolute;
	left: 2%;		/*ヘッダーブロックの左からの配置指定*/
	bottom: 65px;	/*ヘッダーブロックの下からの配置指定*/
}
/*TELブロック*/
header address {
	font-style: normal;
	position: absolute;
	right: 2%;		/*ヘッダーブロックの右からの配置指定*/
	bottom: 20px;	/*ヘッダーブロックの下からの配置指定*/
	text-align: center;	/*内容をセンタリング*/
	font-size: 80%;		/*文字サイズ*/
	line-height: 1.5;	/*行間を少し狭く*/
	text-shadow: 1px 1px 3px #fff, -1px -1px 3px #fff;
}
/*TELブロックの電話番号部分*/
header address .tel {
	color: #7ebb77;		/*文字色*/
	font-size: 250%;	/*文字サイズ*/
	background: url(../images/icon_tel.png) no-repeat left center / 26px;	/*電話アイコンの読み込み。左(left)に、上下中央(center)に配置。画像幅26px。*/
	padding-left: 35px;	/*電話アイコン部分の余白をここで作る*/
}


/* 382*/

/*ボックス全体*/
#footermenu {
	clear: both;overflow: hidden;
	font-size: 80%;	/*文字サイズを少し小さく*/
	margin-left: -1%;
	padding: 20px 0;
}
/*１列分の設定*/
#footermenu ul {
	float: left;	/*左に回り込み*/
	width: 24%;		/*今回は４列作ったので、下のmarginを含めて25%になるよう指定。５列にするならこの行は19%にする。*/
	margin-left: 1%;
}
/*メニュー１個あたりの設定*/
#footermenu ul li {
	padding: 0 10px;	/*上下、左右への余白*/
}
/*見出し*/
#footermenu li.title {
	font-weight: bold;	/*太字にする*/
	background: rgba(0,0,0,0.3);	/*背景色*/
	border-radius: 2px;	/*角丸のサイズ*/
}
/*リンクテキスト*/
#footermenu a {
	text-decoration: none;
	opacity: 0.6;	/*透明度。70%色がでた状態の事。*/
}
/*マウスオン時*/
#footermenu a:hover {
	opacity: 1;	/*透明度。100%色がでた状態の事。*/
}